* {

    margin-top: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    background-color: #fffef2;
    margin-top: -1.4%;
}
.navbar-a{
    padding-left: 60px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    background-color: #003060;
    z-index: 200;
    box-shadow: 1px 1px 1px 1px #eee;
    position: fixed;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li a {
    padding: 15px 20px;
    font-weight: 500;
    font-family: Cambria;
    font-size: large;
}

.header ul li {
    list-style-type: none;
}

.header ul a {
    text-decoration: none;
    color: white;
}

.header ul a:hover {
    color: rgb(141, 141, 141);
    transition: all 0.5s;
}

html{
    scroll-behavior: smooth;
}

body
{

    font-family: 'Noto Sans KR', sans-serif;
}

.profileBackground
{
    margin-top: 20px;
    height: 500px;
    background-color: Cyan;
    background-image: linear-gradient(to right, #7370FE, #7DF9FF);
}

.profileBase
{
    position: absolute;
    width: 900px;
    height: 550px;
    background-color: white;
    border-radius: 8px;
    margin: 190px 0px 0px 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.profilePhoto
{
    float: left;
    position: relative;
    margin: 20px 20px 10px 20px;
    width: 380px;
    height: 510px;
    border-radius: 8px;
}

.profileDescription
{
    position: relative;
    margin: 50px 20px 50px 510px;
    width: 400px;
    height: 450px;
    color: #424242;
    font-weight: bold;
}

.profileHeading
{
    font-size: 40px;
    color: white;
    padding-top: 20px;
    margin: 0px 0px 0px 200px;
    font-weight: bold;
}



.profileName
{
    font-size: 30px;
    letter-spacing: 2px;
    color: black;
}

.profileTitle
{
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}

.profileText
{
    font-size: 13px;
    letter-spacing: 2px;
}

.taskList
{
    font-size: 15px;
    letter-spacing: 3px;
}

.profileIcons
{
    margin: 0px 30px 5px 70px;
    font-weight: normal;
    word-spacing: 20px;
    float: left;
    clear: right;
}