*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.body{

  position: relative;
  margin: 0;
  min-height: 100%;
  background: blanchedalmond;
}
footer{
  margin-top: 0%;
  position: sticky;
  top: 0%;
  background: #003060;
  height: auto;
  width: 100vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top:0%;
  color: antiquewhite;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1px;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;

}
.socials a{
  color: aliceblue;
  text-decoration: none;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footer-bottom{
  background:#000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: 4;
  font-weight: 200;
}