* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #fff;
  color: #ffff;
  background-image: url("images/back.jpeg");
  background-size: 1500px 850px;
  background-repeat: no-repeat;
  background-position: auto;
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #333;
  color: #fff;
}

.logo {
        position: absolute;
        top: -15;
        left: 0;
        margin: 30px;
        width: 150px;
        height: 150px;
      }

.header__title {
  font-size: 4rem;
}

.header__subtitle {
  font-size: 2rem;
  margin-top: 1rem;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.team__member-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px  #000000;
}

.team__member-name {
font-size: 1.5rem;
font-weight: bold;
margin-top: 1rem;
}

.team__member-role {
font-size: 1.2rem;
margin-top: 0.5rem;
}

.team__member-description {
font-size: 1rem;
text-align: center;
margin-top: 1rem;
}

.footer {
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
}

.footer__text {
font-size: 1rem;
}
